body {
  background-image: url("logo2x.png"); }

.header {
  text-color: #4F4F50;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  padding-top: 10;
  font-size: 40;
  z-index: 10; }

.header-link {
  text-decoration: none;
  text-shadow: 5px 5px 5px #B6CFEC; }

.menu {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu .active {
    font-weight: bold; }
  .menu a {
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: #4F4F50;
    font-size: 18;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none; }
    .menu a:hover {
      -webkit-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
      transform: scale(1.15, 1.15);
      text-shadow: 5px 5px 10px #B6CFEC;
      -webkit-transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1); }

.text-smaller {
  font-family: 'Montserrat', sans-serif;
  font-size: 20;
  vertical-align: middle;
  color: #4F4F50;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 200%; }
  .text-smaller a {
    color: #4F4F50; }
    .text-smaller a:hover {
      color: #a2c2e7; }
  .text-smaller .blue-back {
    background-color: rgba(182, 207, 236, 0.6); }

.triangle-image {
  padding-top: 15px;
  margin: auto;
  display: block;
  height: 300px; }

.logo-small {
  margin: auto;
  display: block;
  height: 100px;
  padding-top: 20px; }

.logo-image {
  margin: auto;
  display: block;
  height: 400px;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  z-index: -1;
  position: relative;
  overflow: hidden; }

.robot-hand-image {
  width: 100%; }

.team-member-column-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left; }

.team-member-column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 50%;
  float: right; }

.member-photo {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 40%;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .member-photo:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }

.member {
  text-color: #4F4F50;
  font-family: 'Montserrat', sans-serif; }

.member-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 15;
  vertical-align: middle;
  color: #4F4F50;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 150%;
  padding-top: 30;
  padding-bottom: 50;
  padding-right: 50;
  padding-left: 50; }

.alumni-tag {
  font-family: 'Montserrat', sans-serif;
  font-size: 20;
  color: black;
  text-shadow: 2px 2px 1px #B6CFEC;
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: -50;
  padding-top: 30; }

.project-space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row wrap;
  -ms-flex-direction: row wrap;
  flex-direction: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.bubble {
  background-color: white;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: solid black;
  border-radius: 200px;
  width: 35%;
  min-height: 20%;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .bubble:hover {
    -webkit-transform: scale(1.2, 1.2);
    /* Safari */
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    background-color: #cadcf1;
    text-shadow: 0px 0px 5px white; }
  .bubble:focus {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 70%;
    outline: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 60px; }
    .bubble:focus .bubble-text {
      font-size: 20; }
  .bubble .bubble-text {
    margin: auto;
    color: #4F4F50;
    vertical-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30;
    text-align: center;
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s; }

.funder-link {
  text-decoration: none;
  font-size: 20px;
  line-height: 300%; }
  .funder-link:hover {
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
    text-shadow: 5px 5px 10px white;
    -webkit-transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1); }

.resource-section {
  display: block; }

.resources-header {
  font-family: 'Montserrat', sans-serif, bold;
  text-shadow: 1px 1px 10px #B6CFEC;
  font-size: 32;
  color: #4F4F50;
  display: block;
  line-height: 200%;
  text-align: center; }

.resource-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  space-between: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.news-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  overflow: hidden; }

.resource {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  width: 130px; }
  .resource img {
    width: 130px;
    border-radius: 10px;
    height: auto; }
    .resource img:hover {
      -webkit-transform: scale(1.05, 1.05);
      -ms-transform: scale(1.05, 1.05);
      transform: scale(1.05, 1.05);
      -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .resource a {
    text-decoration: none; }
  .resource .resource-descript {
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13;
    color: #4F4F50;
    display: block;
    text-align: center; }
    .resource .resource-descript:hover {
      -webkit-transform: scale(1.1, 1.1);
      /* Safari */
      -ms-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }

.news-obj {
  width: 200;
  border-radius: 10px;
  color: #4F4F50;
  border-style: solid;
  border-width: 3px;
  margin: 20px; }
  .news-obj a {
    text-decoration: none;
    color: #4F4F50; }
    .news-obj a .news-text {
      font-family: 'Montserrat', sans-serif;
      font-size: 20;
      text-align: center;
      padding: 20px;
      margin: auto; }
  .news-obj:hover {
    -webkit-transform: scale(1.05, 1.05);
    /* Safari */
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    background-color: #B6CFEC;
    text-shadow: 0px 0px 5px white; }
