body {
  background-color: white; }

.main-page-background {
  background-image: url("logo.png"); }

.header {
  text-color: #4F4F50;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  padding-top: 10;
  font-size: 40;
  z-index: 10; }

.menu {
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .menu .active {
    font-weight: bold; }
  .menu a {
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: #4F4F50;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none; }
    .menu a:hover {
      -webkit-transform: scale(1.15, 1.15);
      -ms-transform: scale(1.15, 1.15);
      transform: scale(1.15, 1.15);
      text-shadow: 5px 5px 10px #B6CFEC;
      -webkit-transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1); }

.text-smaller {
  font-family: 'Montserrat', sans-serif;
  font-size: 18;
  vertical-align: middle;
  color: #4F4F50;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 200%; }
  .text-smaller a {
    color: #4F4F50; }

.triangle-image {
  margin: auto;
  display: block;
  height: 300px; }

.logo-small {
  margin: auto;
  display: block;
  height: 100px;
  padding-top: 20px; }

.logo-image {
  margin: auto;
  display: block;
  height: 400px;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  z-index: -1;
  position: relative;
  overflow: hidden; }

.team-member-column-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left; }

.team-member-column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: right; }

.member-photo {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 40%;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
  .member-photo:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1); }

.member {
  text-color: #4F4F50;
  font-family: 'Montserrat', sans-serif; }

.member-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 15;
  vertical-align: middle;
  color: #4F4F50;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 150%;
  padding: 50; }

.project-space {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row wrap;
  -ms-flex-direction: row wrap;
  flex-direction: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.bubble {
  background-color: white;
  margin: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: solid black;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  -webkit-transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .bubble:hover {
    -webkit-transform: scale(1.2, 1.2);
    /* Safari */
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2); }
  .bubble:focus {
    -webkit-transform: rotateY(180deg);
    /* Safari */
    transform: rotateY(180deg);
    width: 600px;
    outline: 0;
    visibility: hidden; }
  .bubble .bubble-text {
    margin: auto;
    color: #4F4F50;
    vertical-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30;
    text-align: center; }
