
body {
  background-image: url("logo2x.png");
}

.main-page-background {
}

.header {
  text-color: #4F4F50;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  padding-top: 10;
  font-size: 40;
  z-index:10;
}

.header-link {

    text-decoration: none;
    text-shadow: 5px 5px 5px #B6CFEC;
}

.menu {

  margin: auto;
  display: flex;
  
  .active {
    font-weight: bold;   
  }

  a {
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: #4F4F50;
    font-size: 18;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    
    &:hover {
      transform: scale(1.15, 1.15);
      text-shadow: 5px 5px 10px #B6CFEC;
      transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

.text-smaller {
  font-family: 'Montserrat', sans-serif;
  font-size: 20;
  vertical-align: middle;
  color: #4F4F50;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 200%;

  a {
    color: #4F4F50;

    &:hover {
    
      transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1);
      color: #a2c2e7; 
    }
  }

  .blue-back {
    background-color: rgba(182, 207, 236, 0.6);
  }
}

.triangle-image {
  padding-top: 15px;
  margin: auto;
  display: block;
  height: 300px;;
}

.logo-small {
  margin: auto;
  display: block;
  height: 100px;;
  padding-top: 20px;
}

.logo-image {
  margin: auto;
  display: block;
  height: 400px;;
  filter: blur(10px);
  z-index:-1;
  position: relative;
  overflow: hidden;
}

.robot-hand-image {

  width: 100%;
}

.team-member-column-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.team-member-column-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 50%;
  float: right;
}

.member-photo {
  align-self: center;
  width:40%;
  border-radius: 10px;
  position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  &:hover {

      transform: scale(1.05, 1.05);
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.member {
  text-color: #4F4F50;
  font-family: 'Montserrat', sans-serif;
}

.member-description {

  font-family: 'Montserrat', sans-serif;
  font-size: 15;
  vertical-align: middle;
  color: #4F4F50;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 150%;
  padding-top: 30;
  padding-bottom: 50;
  padding-right: 50;
  padding-left: 50;
}

.alumni-tag {

  font-family: 'Montserrat', sans-serif;
  font-size: 20;
  color: black;
  text-shadow: 2px 2px 1px #B6CFEC;
  display: block;
  margin: auto;
  text-align: center;
  padding-bottom: -50;
  padding-top: 30;
}

.project-space {
  
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
}

.bubble {

  background-color: white;
  margin: auto;
  display: flex;
  border: solid black;
  border-radius: 200px;
  width: 35%;
  min-height: 20%;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {

      -webkit-transform: scale(1.20, 1.20); /* Safari */
      transform: scale(1.20, 1.20);
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      cursor: pointer;
      background-color: #cadcf1;
      text-shadow: 0px 0px 5px white;
  }

  &:focus {
        display: flex;
        //-webkit-transform: rotateY(180deg); [> Safari <]
        //transform: rotateY(180deg);
        width: 70%;
        outline: 0;
        flex-direction: column;
        padding: 60px;

        .bubble-text {
          //-webkit-transform: rotateY(180deg); [> Safari <]
          //transform: rotateY(180deg);
          font-size: 20;
        }
    }

  .bubble-text {
  
    margin: auto;
    color: #4F4F50;
    vertical-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30;
    text-align: center;
    transition: all; 
    transition-delay: 0.15s;
  }
}

.funder-link {
  
  text-decoration: none;
  font-size: 20px;
  line-height:300%;

  &:hover {

      transform: scale(1.15, 1.15);
      text-shadow: 5px 5px 10px white;
      transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.resource-section {
  
  display: block;
}

.resources-header {
  font-family: 'Montserrat', sans-serif, bold;
  text-shadow: 1px 1px 10px #B6CFEC;
  font-size: 32;
  color: #4F4F50;
  display: block;
  line-height: 200%;
  text-align: center;
}

.resource-grid {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  space-between: 50px;
  justify-content: center;
}

.news-grid {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.resource {

    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    width: 130px;

    img {

      width: 130px;
      border-radius: 10px;
      height: auto; 

      &:hover {
      
        transform: scale(1.05, 1.05);
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }

    }

    a {
      
      text-decoration: none;
    }

  .resource-descript {

      padding: 15px;
      font-family: 'Montserrat', sans-serif;
      font-size: 13;
      color: #4F4F50;
      display: block;
      text-align: center;

      &:hover {
      
        -webkit-transform: scale(1.10, 1.10); /* Safari */
        transform: scale(1.10, 1.10);
        transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
  }

}

.news-obj {
  
  width: 200;
  border-radius: 10px;
  color: #4F4F50;
  border: 1px dashed #4F4F50;
	box-shadow: 0 0 0 3px #ddd, 0 0 0 5px #B6CFEC, 0 0 0 10px #4F4F50, 0 0 2px 10px #eee;
  margin: 20px;

  a {

    text-decoration: none; 
    color: #4F4F50;

    .news-text {

      font-family: 'Montserrat', sans-serif;
      font-size: 20;
      text-align: center;
      padding: 20px;
      margin: auto;
    }
  }

  &:hover {
  
    -webkit-transform: scale(1.05, 1.05); /* Safari */
    transform: scale(1.05, 1.05);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
    background-color: #cadcf1;
    text-shadow: 0px 0px 5px white;
    text-color: #474748;
  }
}

.website {
  
  text-align: center;
  margin: auto;

  a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20;
    margin: auto;
    color: #4F4F50;
    line-height: 200%;
    width: 100%;

    &:hover {

      -webkit-transform: scale(1.05, 1.05); /* Safari */
      transform: scale(1.05, 1.05);
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      cursor: pointer;
      color: #a2c2e7;
    }
  }

}
    


