
body {
  background-color:white;
}

.main-page-background {
  background-image: url("logo.png");
}

.header {
  text-color: #4F4F50;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  text-align: center;
  padding-top: 10;
  font-size: 40;
  z-index:10;
}

.menu {

  margin: auto;
  display: flex;
  
  .active {
    font-weight: bold;   
  }

  a {
    font-family: 'Montserrat', sans-serif;
    display: inline;
    color: #4F4F50;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    
    &:hover {
      transform: scale(1.15, 1.15);
      text-shadow: 5px 5px 10px #B6CFEC;
      transition: all 1.9s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }
}

.text-smaller {
  font-family: 'Montserrat', sans-serif;
  font-size: 18;
  vertical-align: middle;
  color: #4F4F50;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 200%;

  a {
    color: #4F4F50;
  }
}

.triangle-image {
  margin: auto;
  display: block;
  height: 300px;;
}

.logo-small {
  margin: auto;
  display: block;
  height: 100px;;
  padding-top: 20px;
}

.logo-image {
  margin: auto;
  display: block;
  height: 400px;;
  filter: blur(10px);
  z-index:-1;
  position: relative;
  overflow: hidden;
}

.team-member-column-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.team-member-column-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  float: right;
}

.member-photo {
  align-self: center;
  width:40%;
  border-radius: 10px;
  position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  &:hover {

      transform: scale(1.05, 1.05);
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

.member {
  text-color: #4F4F50;
  font-family: 'Montserrat', sans-serif;
}

.member-description {

  font-family: 'Montserrat', sans-serif;
  font-size: 15;
  vertical-align: middle;
  color: #4F4F50;
  display: block;
  margin: auto;
  text-align: center;
  line-height: 150%;
  padding: 50;
}

.project-space {
  
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
}

.bubble {

  background-color: white;
  margin: auto;
  display: flex;
  border: solid black;
  border-radius: 200px;
  width: 35%;
  min-height: 20%;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {

      -webkit-transform: scale(1.20, 1.20); /* Safari */
      transform: scale(1.20, 1.20);
  }

  &:focus {
        display: flex;
        //-webkit-transform: rotateY(180deg); [> Safari <]
        //transform: rotateY(180deg);
        width: 70%;
        outline: 0;
        flex-direction: column;
        padding: 60px;

        .bubble-text {
          //-webkit-transform: rotateY(180deg); [> Safari <]
          //transform: rotateY(180deg);
          font-size: 20;
        }
    }

  .bubble-text {
  
    margin: auto;
    color: #4F4F50;
    vertical-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30;
    text-align: center;
    transition: all; 
    transition-delay: 0.15s;
  }
}

